.container-welcome {
  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      background-color: #4472C4;
      color: white;
      text-align: center;
      min-height: 100vh;
      gap: 40px;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.message {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.button {
  background-color: white;
  color: #4285F4; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f0f0f0;
}

.contact-info {
  margin-top: 20px;
  font-size: 0.9em;
}

.login-logo {
  width: 400px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
  .login-logo {
    width: 80%;
    object-fit: cover;
  }
}